# Constantes del sistema

# Constantes de la base de datos
# url:
export DB_URL=
# Usuario:
export DB_USERNAME=
# Clave:
export DB_PASSWORD=

# Constantes para el token JWT
export JWT_INTERNAL_SECRET=

# Ruta del backend
export BACKEND_URL=http://localhost:8082